.customers-table {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  text-align: center; /* Center align the content */
}

.table-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.table-header p {
  flex-basis: 25%;
  text-align: center;
}

.table-body {
  margin-top: 20px;
}

.table-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.table-row p {
  flex-basis: 25%;
  text-align: center;
}

.table-row:nth-child(even) {
  background-color: #f2f2f2;
}

h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
